html {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}


nav a:hover {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

footer a:hover {
  text-decoration: underline;
}

.banner404 {
  background-image: url("{{site.baseurl}}/images/littledude.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 15% auto;
}

.banner-content {
  color: #fff;
  background-image: url("{{site.baseurl}}/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
  padding-top: 20em;
}

.banner-link a {
  color: #fff;
}

.photo {
  max-width: 200px;
}

.card-content {
  color: #737373;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: none;
  animation: back .25s linear;
}


@keyframes back {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.card:hover .card-content {
  display: block;
}

.button {
  padding: 0;
  padding-left: 1.25em;
  margin: 0;
  color: #000;
  background-color: #fff;
  border: none;
}

.button:hover {
  background-color: #fff;
  color: #000;
  text-decoration: underline;
}

@media only screen and (max-width: 25em) {

  .logo {
    max-width: 500px;
  }

}
